:root,.root, body, html{
  width: 100vw;
}

:root{
  --font-light: white;
  --font-dark: black;
}

body, html{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: white;
  padding: 0rem;
  margin: 0rem;
  display: inline-block;
}

p{
  margin: 0;
  padding: 0;
}

body{
  background-color: #dacdba;
  background-image: url('./assets/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.body2{
  background-image: url('./assets/bg2.jpg');
}

.body3{
  /* background-color: #C850C0; */
  background-image: url('./assets/bg3.jpg');
}

.body4{
  background-image: url('./assets/bg4.jpg');
}

@media screen and (min-width: 700px){
  :root,.root, body, html{
    height: 100%;
  }
}